@import './master/_master.less';

#heading {
    margin: 10px 0;
    font-size: 24px;
    line-height: 1em;
}

#dev-server-message {
    margin: 10px 0;
    color: #666;
    font-size: 18px;
    line-height: 1em;
}

.navigation {
    padding: 8px;
    background-color: #666666;

    &__navlist {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: center;
    }

    &__navlist-item {
        padding: 8px;
    }

    &__navlist-link {
        font-size: 16px;
        color: #CCCCCC;
        text-decoration: none;
        font-weight: bold;
    }

}

.footer {
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: #CCCCCC;
}

.content-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 16px;
    max-width: 960px;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ui-button-container {
    text-align: center;
}

.ui-button {
    padding: 16px 16px;;
    background-color: #999999;
    color: #FFFFFF;
    cursor: pointer;
}

img {
    max-width: 320px;
    width: 100%;
    height: auto;
}

.home__btn {

    &.is-active {
        background-color: green;
        color: white;
    }

}